/* GENERAL STYLE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 70%;
    height: auto;
    margin: 25px auto;
}

h1 {
    font-size: 42px;
    font-weight: 600;
}

footer {
    text-align: center;
    font-size: 18px;
}

.heart {
    color: red;
    font-size: 32px;
    vertical-align: sub;
}

/* HEADER */
.brand {
    height: 65px;
}

nav {
    margin-top: 50px;
    margin-bottom: 50px;
}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #898989;
}

nav ul li a:hover {
    color: black;
}

/* 1st SECTION */
.banner {
    margin: 0 auto;
    width: auto;
    height: 561px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.banner-text {
    width: 60%;
}

.banner h2 {
    padding-top: 338px;
    font-weight: 300;
    font-size: 35px;
}

.banner p {
    font-weight: 300;
    font-size: 18px;
}

.banner h2,
.banner p {
    color: white;
    padding-left: 72px;
}

/* 2nd SECTION */
.subtext {
    color: #898989;
    font-size: 20px;
}

/* FLOAT SECTION */
.aside-img1 {
    height: 250px;
    background-image: url(../img/img-1.jpg);
    background-position: center;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.floatsec h4 {
    margin: 20px auto;
    font-weight: 500;
}

.floatsec p {
    color: #898989;
}

.mid-img {
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    background-size: cover;
    height: 250px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.aside-img2 {
    height: 250px;
    background-image: url(../img/img-3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
/* UTILITIES */
.mb-50px {
    margin-bottom: 50px;
}

.debug-box {
    height: 100px;
    width: auto;
    background-color: #E579E6;
    margin: 25px auto;
    margin-top: 0;
}

.firstblock {
    height: 500px;
    background-color: #E1D67A;
}

.secondblock {
    height: 70px;
}

.thirdblock {
    height: 500px;
}

.secondblock,
.thirdblock {
    background-color: #ABCFE7;
}

.lastblock {
    background-color: #8801FE;
    height: 65px;
}

/* FLOAT SECTION */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left,
.mid,
.right {
    float: left;
}

.left,
.right {
    width: 20%;
}

.mid {
    width: 57%;
    margin: 0 20px;
}